In [30]:
import numpy as np
import pandas as pd

In [22]:
ground_truth = pd.read_csv('src/data/external/ISIC_2019_Training_GroundTruth.csv')

In [23]:
ground_truth.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [24]:
ground_truth.describe()

,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK
count,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.0
mean,0.178516,0.508270,0.131183,0.034227,0.103588,0.009435,0.009988,0.024792,0.0
std,0.382954,0.499941,0.337607,0.181815,0.304732,0.096677,0.099440,0.155493,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [25]:
labels = ground_truth.columns
labels = labels[1:]
labels

Index(['MEL', 'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC', 'UNK'], dtype='object')

In [48]:
label_mapping = {i: label for i, label in enumerate(labels)}
label_mapping

{0: 'MEL',
 1: 'NV',
 2: 'BCC',
 3: 'AK',
 4: 'BKL',
 5: 'DF',
 6: 'VASC',
 7: 'SCC',
 8: 'UNK'}

In [29]:
dense_labels = ground_truth[labels]
dense_labels = dense_labels.values
dense_labels

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [32]:
train_labels = np.argmax(dense_labels, axis=-1)
train_labels

array([1, 1, 0, ..., 0, 1, 4])

In [50]:
label_df = pd.DataFrame(train_labels.reshape(len(train_labels), 1), columns=['label'])
label_df['label'] = label_df['label'].map(label_mapping)
label_df.head()

  label
0    NV
1    NV
2   MEL
3    NV
4   MEL

In [51]:
label_df.value_counts()

label
NV       12875
MEL       4522
BCC       3323
BKL       2624
AK         867
SCC        628
VASC       253
DF         239
dtype: int64

In [55]:
239 * len(labels), len(train_labels)

(2151 / 25331) * 10

0.8491571592120327

In [56]:
rsna_train = pd.read_csv('src/data/rsna_train.csv')
rsna_train.head()

            StudyInstanceUID  patient_overall  C1  C2  C3  C4  C5  C6  C7
0   1.2.826.0.1.3680043.6200                1   1   1   0   0   0   0   0
1  1.2.826.0.1.3680043.27262                1   0   1   0   0   0   0   0
2  1.2.826.0.1.3680043.21561                1   0   1   0   0   0   0   0
3  1.2.826.0.1.3680043.12351                0   0   0   0   0   0   0   0
4   1.2.826.0.1.3680043.1363                1   0   0   0   0   1   0   0

In [58]:
rsna_cols = rsna_train.columns[2:]
rsna_cols

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'], dtype='object')

In [59]:
rsna_dense_labels = rsna_train[rsna_cols]
rsna_dense_labels

      C1  C2  C3  C4  C5  C6  C7
0      1   1   0   0   0   0   0
1      0   1   0   0   0   0   0
2      0   1   0   0   0   0   0
3      0   0   0   0   0   0   0
4      0   0   0   0   1   0   0
...   ..  ..  ..  ..  ..  ..  ..
2014   0   1   0   0   0   1   1
2015   0   0   0   0   0   0   1
2016   0   0   0   0   0   0   0
2017   0   0   0   0   0   0   0
2018   0   0   0   0   0   0   1

[2019 rows x 7 columns]

In [60]:
rsna_dense_labels.sum()

C1    146
C2    285
C3     73
C4    108
C5    162
C6    277
C7    393
dtype: int64

In [63]:
(73 * 7 / len(rsna_dense_labels)) * 100

25.30955918771669

In [64]:
len(rsna_dense_labels)

2019

In [65]:
0.25 * 343

85.75

In [67]:
(1 / 9) * 100

11.11111111111111